*{
    font-size: 10px;
}
header {
    background-color: var(--secondary-bg-color);
    width: 100vw;
    height: 12vh;
}
#logo {
    width: 275%;
    height: 100%;
}

.ticket-container {
    width: 70vw;
    height: 27vh;
}

.team-logo {
    width: 35%;
    height: 100%;
}
.vs-logo {
    width: 20%;
    height: 100%;
}

.details {
    margin: 3px auto;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 20%;
}
.schedule {
    width: 35%;
}
.whatsapp {
  width: 20vw;
  height: 4vh;
  padding: 2px 0 2px 8px;
  font-size: 12px;
}
.whatsapp>svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
}
.stock {
    color: red;
}